html, body {
  background-color: #111;
  color: #ddd; }

pre {
  background-color: transparent;
  border-color: #555;
  padding: 0; }

code {
  background-color: #2b2b2b;
  color: #6896ba; }

.markdown-page {
  margin-bottom: 50px; }

h1 {
  margin-top: 30px; }

a {
  color: #6896ba; }
