
.navbar-inverse {
  background-color: rgb(83, 83, 83);

  .navbar-brand {
    color: rgb(226, 227, 232);
  }

  .navbar-nav > li > a {
    color: rgb(226, 227, 232);
  }

  .navbar-toggle {
    border: 0;
  }
}

.navbar {
  border-radius: 0px;
  border: 0px;
}